<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="iotmaster.com.internetofthings">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/success"
        android:label="@string/app_name"
        android:roundIcon="@drawable/success"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCkLhcMp42tjD5QgmTiLn6lqqkBmNnRgFs"/>

        <activity
            android:name=".UserInterface.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".UserInterface.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.RegisterActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".UserInterface.LoginActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".UserInterface.SettingsActivity">
        </activity>
        <activity
            android:name=".UserInterface.SwitchRegisterActivity"
            android:parentActivityName=".UserInterface.MainActivity">
        </activity>
        <activity
            android:name=".Location.LocationActivity"
            android:parentActivityName=".UserInterface.MainActivity">
        </activity>
        <activity android:name=".UserInterface.SetupActivity">
        </activity>

        <activity
            android:name=".UserInterface.AlarmActivity"
            android:parentActivityName=".UserInterface.MainActivity">
        </activity>

        <receiver
            android:name=".Broadcasts.AlarmBroadCast"
            android:enabled="true">
            <intent-filter>
                <action android:name="iotmaster.com.internetofthings.POSITIVE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".UserInterface.MyDevicesActivity"
            android:parentActivityName=".UserInterface.MainActivity">
        </activity>

        <provider
            android:name=".data.DeviceProvider"
            android:authorities="iotmaster.com.internetofthings"
            android:exported="false"
            android:multiprocess="true"/>

        <activity
            android:name=".UserInterface.DeepManageActivity"
            android:label="@string/title_activity_deep_manage"
            android:parentActivityName=".UserInterface.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iotmaster.com.internetofthings.UserInterface.MainActivity"/>
        </activity>

        <provider
            android:name=".data.LocationProvider"
            android:authorities="iotmaster.com.internetofthings2"
            android:exported="false"
            android:multiprocess="true"/>

        <receiver android:name=".Broadcasts.GeoFenceBroadCastReciever"/>

        <service android:name=".BackgroundServices.ReminderService"/>

        <receiver
            android:name=".UserInterface.MainActivity$DeviceState"
            android:exported="false">
            <intent-filter>
                <action android:name="iotmaster.com.internetofthings.POSITIVE"/>
                <action android:name="iotmaster.com.internetofthings.NEGATIVE"/>
                <action android:name="iotmaster.com.internetofthings.online"/>
                <action android:name="iotmaster.com.internetofthings.offline"/>
            </intent-filter>
        </receiver>

        <service android:name=".FireBaseCloudMessaging.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".FireBaseCloudMessaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".UserInterface.SplashActivity"
            android:label="@string/title_activity_splash"
            android:noHistory="true"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".UserInterface.StatisticActivity"
            android:label="@string/title_activity_statistic"
            android:parentActivityName=".UserInterface.MainActivity"
            android:theme="@style/AppTheme">
        </activity>

        <receiver
            android:name=".Broadcasts.RebootBroadcast"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".data.AlarmProvider"
            android:authorities="iotmaster.com.internetofthings.ALARM"
            android:exported="false"/>

        <receiver android:name=".DeviceWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/device_widget_provider_info"/>
        </receiver>

        <activity
            android:name=".UserInterface.FeedbackActivity"
            android:parentActivityName=".UserInterface.MainActivity">
        </activity>

        <service android:name=".BackgroundServices.WidgetBackground"/>

        <activity
            android:name=".UserInterface.SecurityActivity"
            android:parentActivityName=".UserInterface.MainActivity">
        </activity>
        <activity android:name=".UserInterface.TemperatureActivity">
        </activity>
    </application>

</manifest>